@use "palette" as *;
@use "media";


// CUSTOM Bootstrap variables:

$grid-breakpoints: media.$breakpoints;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  //xl: 1140px,
  //xxl: 1320px
  xl: 1000px,
  xxl: 1140px,
);

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 5,
  7: $spacer * 7.5,
  8: $spacer * 10.5,
  9: $spacer * 14,
);

$primary: $cBrandPrimary;
$secondary: $cBrandSecondary;
$warning: #ff7b00;

$display-font-sizes: (
  // Controls the display-n classes
  // https://getbootstrap.com/docs/5.0/content/typography/
  //1: 5rem,
  1: 6rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem,
);
$display-font-weight: 400;
$display-line-height: 1;


$navbar-light-color: $cBrandSecondary;
$navbar-light-hover-color: $cBrandSecondary;
$navbar-light-active-color: $cBrandSecondary;
$navbar-light-disabled-color: silver;
$navbar-light-brand-color: $cBrandSecondary;
$navbar-light-brand-hover-color: inherit;
$btn-border-radius: 0;
$btn-padding-x: 1.6em;
$btn-padding-y: 0.8em;
//$btn-hover-bg-shade-amount: 15%,
$btn-hover-bg-tint-amount:  30%;
$form-label-color: $cTextDark;
$form-select-border-color: $cButton2;
$input-border-color: $cButton2;
$input-border-width: 2px;
$input-border-radius: 0;
$component-active-bg: $cButton2;
$pagination-color: #707070;
$pagination-active-color: white;
$pagination-active-bg: $cBrandPrimary;
$pagination-padding-y: 0.5rem;
$pagination-padding-x: 1.2rem;
$pagination-disabled-bg: #f0f0f0;
$pagination-border-radius: 0;
$pagination-hover-color: $cTextDark;
//$pagination-hover-bg: $cBrandSecondary,


// Configuration
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/utilities";

// Layout & components
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
//@import "../node_modules/bootstrap/scss/tables";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/dropdown";
//@import "../node_modules/bootstrap/scss/button-group";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
//@import "../node_modules/bootstrap/scss/card";
//@import "../node_modules/bootstrap/scss/accordion";
//@import "../node_modules/bootstrap/scss/breadcrumb";
@import "../node_modules/bootstrap/scss/pagination";
//@import "../node_modules/bootstrap/scss/badge";
//@import "../node_modules/bootstrap/scss/alert";
//@import "../node_modules/bootstrap/scss/progress";
//@import "../node_modules/bootstrap/scss/list-group";
@import "../node_modules/bootstrap/scss/close";
//@import "../node_modules/bootstrap/scss/toasts";
@import "../node_modules/bootstrap/scss/modal";
//@import "../node_modules/bootstrap/scss/tooltip";
//@import "../node_modules/bootstrap/scss/popover";
//@import "../node_modules/bootstrap/scss/carousel";
//@import "../node_modules/bootstrap/scss/spinners";
//@import "../node_modules/bootstrap/scss/offcanvas";
//@import "../node_modules/bootstrap/scss/placeholders";

// Helpers
@import "../node_modules/bootstrap/scss/helpers";

// Utilities
@import "../node_modules/bootstrap/scss/utilities/api";
