// Brand colours
$cBrandPrimary: #f1cd02;
$cBrandSecondary: #0a4a79;
$cBrandTertiary: #278078;

$cButton1: $cBrandPrimary;
$cButton2: #0b6cb6;

$cBackground1: $cBrandSecondary;
$cBackground2: $cBrandTertiary;

$cTextLight: #eaf1f5;
$cTextDark: #404040;
