// Brand colours
$cBrandPrimary: #f1cd02;
$cBrandSecondary: #0a4a79;
$cBrandTertiary: #278078;

$cButton1: $cBrandPrimary;
$cButton2: #0b6cb6;

$cBackgroundLight: $cBrandSecondary;
$cBackgroundDark: rgb(43, 43, 43);

$cTextLight: #eaf1f5;
$cTextDark: #404040;
