// Brand colours
$cBrandPrimary: #315da5;
$cBrandSecondary: #da971c;
$cBrandTertiary: #7894af;

$cButton1: $cBrandSecondary;
$cButton2: $cBrandPrimary;

$cBackground1: $cBrandSecondary;
$cBackground2: $cBrandTertiary;

$cTextLight: white;
$cTextDark: black;
