@use "../palette" as *;
@use "../media";

html {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
  /* size adjustments OFF on small screen */
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif; // 400, 400i, 700
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  position: relative; // Needed for Bootstrap's ScrollSpy.
  color: $cTextDark;
  background-color: white;
  padding-top: 63px;
}

#arrowScrollToTop {
  position: fixed;
  z-index: 50;
  right: 0;
  bottom: 0;
  width: 40px;
  height: 50px;
  cursor: pointer;
  color: white;
  background-color: rgba($cBrandPrimary, 0.4);

  &:hover {
    background-color: $cBrandPrimary;
  }

  @include media.min("md") {
    width: 50px;
    height: 50px;
  }

  svg {
    width: 100%;
    height: 100%;
  }
}

.skip-link {
  // Accessibility feature.
  left: -999px;
  position: fixed;
  top: auto;
  width: 1px;
  height: 1px;
  padding: 15px;
  font-size: 1.2em;
  overflow: hidden;
  text-align: center;
  z-index: -999;
  &:focus,
  &:active {
    z-index: 9999;
    top: auto;
    left: auto;
    width: auto;
    height: auto;
    overflow: auto;
    color: white;
    background-color: black;
  }
}

.story-image {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    @include media.min("md") {
      object-position: left bottom;
    }

    @include media.min("lg") {
      object-position: right bottom;
    }
  }
}

.benefits-list {
  img {
    width: 50%;
    height: auto;
    margin: auto;
    display: block;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }
  }
  .benefits-item-text {
    display: block;
    text-align: center;
    color: #757575;
    line-height: 1.2;
    margin: 1em auto auto;
    max-width: 180px;
  }
}

#videoModal {
  .modal-body {
    position: relative;
    padding-bottom: calc(9 / 16 * 100%);
    height: 0;
    background-color: black;

    iframe {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.video-thumbnail {
  position: relative;
  color: white;

  .play-button {
    position: absolute;
    width: 100px;
    height: auto;
    left: calc(50% - 50px);
    top: calc(50% - 50px);

    @include media.min("lg") {
      width: 174px;
      left: calc(50% - 87px);
      top: calc(50% - 87px);
    }

    &:hover {
      cursor: pointer;
      backdrop-filter: sepia(90%);
      border-radius: 50% 50%;
      color: $cBrandPrimary;
    }
  }
}
