@use "../palette" as *;
@use "../media";

.navbar-light {
  background-color: #ffffff;
}

.navbar-dark {
  background-color: #000000;
}

.navbar-brand {
  img {
    width: auto;
    height: 35px;
    @include media.min("lg") {
      height: 50px;
    }
  }
}

.navbar-light,
.navbar-dark {
  &.navbar-js {
    min-height: auto;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    box-shadow: 0 3px 4px #dadada90;

    .navbar-brand {
      img {
        width: auto;
        height: 25px;
        @include media.min("lg") {
          height: 35px;
        }
      }
    }
  }
}

.nav-item {
  margin-right: 1.5em;

  .nav-link {
    border-bottom: 3px solid transparent;
    transition: all 400ms ease;

    &.active {
      font-weight: 700;
      border-bottom: 3px solid $cBrandSecondary;
    }
    &:hover {
      font-weight: 700;
    }
  }
}

.navbar-toggler {
  .navbar-toggler-icon {
    background-image: url(media.$iconHamburger);
  }

  &.collapsed {
    .navbar-toggler-icon {
      background-image: url(media.$iconHamburgerCollapsed);
    }
  }
}

.navbar-collapse {
  // These styles naturally apply only to mobile navigation.
  &.show .nav-link,
  &.collapsing .nav-link {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
  }
}
