@use "../palette" as *;
@use "../media";

.header-image {
  height: 400px;
  background-image: url("../../assets/img/header.jpg");
  background-image: url("../../assets/img/header.webp");
  background-repeat: no-repeat;
  background-position: 93% 0;
  background-size: auto 103%;
  display: flex;
  align-items: flex-end;
  text-align: left;
  justify-content: start;
  color: $cTextLight;
  border-bottom: 12px solid $cBrandPrimary;

  @include media.min("md") {
    height: 40.3vw;
    background-position: 0 0;
    background-size: cover;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.hero-text {
  font-size: 2em;
  font-weight: normal;
  max-width: 900px;

  @include media.max("lg") {
    a {
      &.btn {
        padding: 0.4em 1em;
      }
    }
  }


}
