@use "../palette" as *;
@use "../media";

.navbar-light {
  background-color: #ffffff;

  .navbar-brand {
    img {
      width: auto;
      height: 35px;
      @include media.min("lg") {
        height: 50px;
      }
    }
  }

  &.navbar-custom {
    min-height: auto;
    box-shadow: 0 3px 4px #dadada90;

    .navbar-brand {
      img {
        width: auto;
        height: 25px;
        @include media.min("lg") {
          height: 35px;
        }
      }
    }

    .nav-link {
      padding-top: 0.2rem;
      padding-bottom: 0.2rem;
    }
  }

  .nav-item {
    margin-right: 1.5em;

    .nav-link {
      border-bottom: 3px solid transparent;
      transition: all 400ms ease;

      &.active {
        font-weight: 700;
        border-bottom: 3px solid $cBrandSecondary;
      }
      &:hover {
        font-weight: 700;
      }
    }
  }

  .navbar-toggler {
    .navbar-toggler-icon {
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(90, 90, 90)" viewBox="0 0 16 16"><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/></svg>');
    }

    &.collapsed {
      .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='rgb(90, 90, 90)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
      }
    }
  }
}
