html {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
  /* size adjustments OFF on small devices */
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  position: relative;
}

.skip-link {
  left: -999px;
  position: fixed;
  top: auto;
  width: 1px;
  height: 1px;
  padding: 15px;
  font-size: 1.2em;
  overflow: hidden;
  text-align: center;
  z-index: -999;
}
.skip-link:focus, .skip-link:active {
  z-index: 9999;
  top: auto;
  left: auto;
  width: auto;
  height: auto;
  overflow: auto;
  color: white;
  background-color: black;
}

.content--1 {
  color: white;
  background-color: #da971c;
}

.content--2 {
  color: white;
  background-color: #7894af;
}
